# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environmental Variables (Important to keep credentials safe)
.env
backend/.env
frontend/.env

# Build Outputs
dist/
build/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/
# SpaceScope.code-workspace
